[pytest]
addopts = --cov --cov-report=term
testpaths = eogrow

[run]
source = eogrow

[report]
omit = eogrow/__init__.py
       eogrow/core/__init__.py
       eogrow/core/area/__init__.py
       eogrow/pipelines/__init__.py
       eogrow/tasks/__init__.py
       eogrow/utils/__init__.py
