[tool.black]
line-length = 120
preview = true

[tool.isort]
profile = "black"
known_first_party = ["sentinelhub", "eolearn"]
known_absolute = "eogrow"
sections = ["FUTURE","STDLIB","THIRDPARTY","FIRSTPARTY","ABSOLUTE","LOCALFOLDER"]
line_length = 120

[tool.pytest.ini_options]
log_cli_level = "INFO"
markers = [
    "integration: marks tests that fully execute pipelines (and tend to be slow)",
    "chain: marks tests that represent an end-to-end pipeline execution"
]

[tool.mypy]
follow_imports = "normal"
ignore_missing_imports = true
show_column_numbers = true
show_error_codes = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_untyped_defs = true
disallow_untyped_decorators = true
warn_unreachable = true
strict_equality = true
pretty = true
plugins = [
    "pydantic.mypy"
]

[tool.pydantic-mypy]
# init_forbid_extra = true  # cant be used unless we change managers
init_typed = true

[tool.nbqa.addopts]
flake8 = [
    "--extend-ignore=E402"
]

[tool.coverage.run]
source = [
    "eogrow"
]

[tool.coverage.report]
omit = [
    "*/__init__.py"
]
