[tool.black]
line-length = 120
preview = true

[tool.isort]
profile = "black"
known_first_party = ["sentinelhub", "eolearn"]
known_absolute = "eogrow"
sections = ["FUTURE","STDLIB","THIRDPARTY","FIRSTPARTY","ABSOLUTE","LOCALFOLDER"]
line_length = 120

[tool.pytest.ini_options]
log_cli_level = "INFO"
markers = [
    "fast: marks unit tests that are fast to execute",
    "chain: marks tests that represent an end-to-end pipeline execution"
]

[tool.mypy]
follow_imports="normal"
ignore_missing_imports = true
show_column_numbers = true
show_error_codes = true
check_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_untyped_defs = true
