aenum
bidict>=0.18.0
click
deepdiff
fiona
fs
geopandas>=0.8.1
joblib
lightgbm>=3.0.0
numpy
pandas
pydantic>=1.8.0
python-rapidjson
ray[default]
rtree
scikit-image
scikit-learn
shapely>=1.8.0

eo-learn-core>=1.0.0
eo-learn-features>=1.0.0
eo-learn-geometry>=1.0.0
eo-learn-io>=1.0.0
eo-learn-mask>=1.0.0
eo-learn-ml-tools>=1.0.0
eo-learn-visualization>=1.0.0
sentinelhub>=3.5.0
