name: build

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  test-on-github:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.8'
          - '3.9'
    steps:
      - name: Check out current branch in case of a push event
        if: github.event_name == 'push'
        uses: actions/checkout@v2

      - name: Check out develop branch in case of a scheduled event
        if: github.event_name == 'schedule'
        uses: actions/checkout@v2
        with:
          ref: develop
      
      - name: Check code is compliant with black formatter
        if: github.event_name == 'push'
        uses: rickstaa/action-black@v1
        with:
          black_args: ". --line-length 120 --check"

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

  mirror-to-gitlab:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Mirror + trigger CI
        uses: SvanBoxel/gitlab-mirror-and-ci-action@master
        with:
          args: "https://git.sinergise.com/eo/code/eo-grow"
        env:
          GITLAB_HOSTNAME: "git.sinergise.com"
          GITLAB_USERNAME: "github-action"
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: "878"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
